/* Tags */
body {
    background-color: rgb(248, 178, 248);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    background-color: white;
    text-align: center;
    width: 1000px;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer {
    float: clear;
    width: 100%;
    text-align: center;
    padding: 10px;
}

/* Classes */


/* IDs */
#wrapper {
    width: 1000px;
    margin: auto;
    background-color: rgb(66, 204, 250);
}

#flex {
    display: flex;
    flex-wrap: nowrap;
    margin: 10px;
}

#flex #profilepic {
    float: left;
    width: 30%;
}

#flex #about {
    float: right;
    width: 70%;
}

#carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    gap: 10px;
}

#carousel img {
    max-height: 300px;
    aspect-ratio: auto 300 / 400;
    border-radius: 10px;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
