/* Tags */
body {
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(241, 241, 241);
    margin: 0;
}

header {
    background-color: black;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(47, 248, 255);
    text-align: center;
    color:rgb(47, 248, 255);
    width: 998px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding: auto;
}

footer {
    float: clear;
    width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

nav {
    width: 998px;
    height: 50px;
    text-align: center;
    background-color: rgb(49, 2, 51);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(47, 248, 255);
}

a {
    padding: 15px;
    background-color: rgb(18, 99, 102);
    display: inline-block;
    color:rgb(232, 207, 233);
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
}

a:hover {
    background-color: rgb(27, 141, 145);
}

h1 {
    text-align: center;
}

h6 {
    font-size: 12px;
    margin: 5px;
}

img {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(47, 248, 255);
}

/* Classes */
.todo-list {
    text-align: left;
}

/* IDs */
#wrapper {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(49, 2, 51);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(47, 248, 255);
}

#flex {
    display: flex;
    flex-wrap: nowrap;
    margin: 10px;
}

#flex #profilepic {
    float: left;
    width: 30%;
}

#flex #about {
    float: right;
    width: 70%;
}

#carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    gap: 10px;
}

#carousel img {
    max-height: 300px;
    aspect-ratio: auto 300 / 400;
    border-radius: 10px;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

#todo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
    width: 30%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(47, 248, 255);
    padding-bottom: 10px;
    background-color: lightgray;
    color: black;
}